<div class="top-bar">
    <div class="top-bar-title">Admin</div>
    <div class="top-bar-left">
        <ul class="menu">
            <li class="nav-menu"><a [routerLink]="['/admin/blog-admin']">Manage Blog</a></li>
        </ul>
    </div>
    <div *ngIf="theUser" class="top-bar-right">
        <ul class="menu">
            <li class="admin-menu"><a (click)="logout()">Logout</a></li>
            <li class="admin-menu"><a>{{theUser}} Logged In</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <img src="../adminShared/images/code.jpg" alt="">
</div>

<div class="row align-center">
    <h2>Welcome to the Admin Area</h2>
    <h3>This area is for authorized users only!</h3>
</div>