<app-navbar></app-navbar>

<div class="row">
    <img src="../shared/images/error.jpg" alt="Error" class="float-center">
    <div>
        <h1>That Page does not exist. Please try something else.</h1>
    </div>
</div>