<div class="top-bar">
    <div class="top-bar-title">GigaByte</div>
    <div>
        <ul class="menu">
            <li class="nav-menu"><a href="#">Menu Item 1</a></li>
            <li class="nav-menu"><a [routerLink]="['/admin']">Admin Area</a></li>
        </ul>
    </div>
</div>