@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.top-bar-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}

.menu{ font-family: 'Open Sans', sans-serif; }

.nav-menu a{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
}