<div class="top-bar">
    <div class="top-bar-title">BlogAdmin</div>
    <div class="top-bar-left">
        <ul class="menu">
            <li class="admin-menu"><a (click)="chooseMode('add')">Add Post</a></li>
            <li class="admin-menu" *ngIf ="menuChoice"><a (click)="chooseMode('')">Manage Blogs</a></li>
            <li class="admin-menu"><a [routerLink]="['/admin']">Back to Admin</a></li>
        </ul>
    </div>
    <div *ngIf="theUser" class="top-bar-right">
        <ul class="menu">
            <li class="admin-menu"><a (click)="logout()">Logout</a></li>
            <li class="admin-menu"><a>{{theUser}} Logged In</a></li>
        </ul>
    </div>
</div>

<div [ngSwitch]="menuChoice">
    <div *ngSwitchCase ="'add'"><h1>Add Menu</h1></div>
    <div *ngSwitchDefault><h1>Default</h1></div>
</div>