<div class="row expanded align-center">
    <h1>Login</h1>
</div>

<div class="row align-center">
    <form>
        <div class="small-12 columns">
            <label for="email">Username
                <input type="text" placeholder="Enter Email Address" id="email" [(ngModel)]="email" name="email"
                    required #em="ngModel">
                <div [hidden]="em.valid || em.pristine" class="alert callout">Email is required</div>
            </label>
        </div>
        <div class="small-12 columns">
            <label for="password1">Password
                <input type="password" placeholder="Enter Password" id="password1" [(ngModel)]="password1" name="email"
                    required #pwd1="ngModel">
                <div [hidden]="pwd1.valid || pwd1.pristine" class="alert callout">Password is required</div>
            </label>
        </div>

        <div *ngIf="passwordFail" class="alert callout">
            Passwords do not match
        </div>

        <div class="small-12 columns">
            <div class="expanded button-group">
                <a class="success button" (click)="login()">Login</a>
                <a class="cancel button" (click)="signup()">Sign Up</a>
            </div>
        </div>

        <div class="small-12 columns">
            <p (click)="cancel()" class="text-center simlink">Back to the main site</p>
        </div>
    </form>
</div>